# PolynomialFeature algorithms

In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame({'length':[10,12,14,10,11,13,20,25,10],
              'width':[12,13,13.5,10,10,11.5,5,7,3],
              'Target':["Apple","Apple","Apple","Guava","Guava","Guava","Banana","Banana","Banana"]})

In [3]:
df

   length  width  Target
0      10   12.0   Apple
1      12   13.0   Apple
2      14   13.5   Apple
3      10   10.0   Guava
4      11   10.0   Guava
5      13   11.5   Guava
6      20    5.0  Banana
7      25    7.0  Banana
8      10    3.0  Banana

In [4]:
pd.read_excel('C:/Users\Ducat\Desktop\Book1.xlsx',sheet_name='Sheet1')

   sn    name  branch
0   1  krishna    MCA
1   2   Rahul     BCA
2   3   Roshan     CS

In [5]:
pd.read_excel('C:/Users\Ducat\Desktop\Book1.xlsx',sheet_name='Sheet2')

        sn   name  branch
0  krishna       1    MCA
1        2  Rahul     BCA
2        3  Roshan     CS

In [6]:
df1=pd.read_excel('C:/Users\Ducat\Desktop\Book1.xlsx',sheet_name=['Sheet1','Sheet2'])
df1

{'Sheet1':    sn    name  branch
 0   1  krishna    MCA
 1   2   Rahul     BCA
 2   3   Roshan     CS,
 'Sheet2':         sn   name  branch
 0  krishna       1    MCA
 1        2  Rahul     BCA
 2        3  Roshan     CS}

In [7]:
df1['Sheet1']

   sn    name  branch
0   1  krishna    MCA
1   2   Rahul     BCA
2   3   Roshan     CS

In [8]:
df1['Sheet2']

        sn   name  branch
0  krishna       1    MCA
1        2  Rahul     BCA
2        3  Roshan     CS

In [9]:
df1=pd.read_excel('C:/Users\Ducat\Desktop\Book1.xlsx',sheet_name=[0,1])
df1

{0:    sn    name  branch
 0   1  krishna    MCA
 1   2   Rahul     BCA
 2   3   Roshan     CS,
 1:         sn   name  branch
 0  krishna       1    MCA
 1        2  Rahul     BCA
 2        3  Roshan     CS}

# feature and target

In [10]:
df

   length  width  Target
0      10   12.0   Apple
1      12   13.0   Apple
2      14   13.5   Apple
3      10   10.0   Guava
4      11   10.0   Guava
5      13   11.5   Guava
6      20    5.0  Banana
7      25    7.0  Banana
8      10    3.0  Banana

In [11]:
X=df.iloc[:,:-1].values    #feature always in 2D array 
X

array([[10. , 12. ],
       [12. , 13. ],
       [14. , 13.5],
       [10. , 10. ],
       [11. , 10. ],
       [13. , 11.5],
       [20. ,  5. ],
       [25. ,  7. ],
       [10. ,  3. ]])

In [12]:
df

   length  width  Target
0      10   12.0   Apple
1      12   13.0   Apple
2      14   13.5   Apple
3      10   10.0   Guava
4      11   10.0   Guava
5      13   11.5   Guava
6      20    5.0  Banana
7      25    7.0  Banana
8      10    3.0  Banana

In [13]:
y=df.iloc[:,-1].values   #target always in 1D array

In [14]:
y

array(['Apple', 'Apple', 'Apple', 'Guava', 'Guava', 'Guava', 'Banana',
       'Banana', 'Banana'], dtype=object)

In [15]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import PolynomialFeatures

In [71]:
sc=MinMaxScaler()
X_sc=sc.fit_transform(X)
X_train,X_test,y_train,y_test=train_test_split(X_sc,y,train_size=0.75, random_state=10)
model=LogisticRegression()
model.fit(X_train,y_train)
y_Train_pred=model.predict(X_train)
y_test_pred=model.predict(X_test)
print("Training score :",accuracy_score(X_train_pred,y_train))
print("Testing score :",accuracy_score(X_test_pred,y_test))

Training score : 1.0
Testing score : 0.3333333333333333

# PolynomialFeature

In [45]:
poly=PolynomialFeatures(degree=2)
X_poly_feature=poly.fit_transform(X)
X_poly_feature

array([[  1.  ,  10.  ,  12.  , 100.  , 120.  , 144.  ],
       [  1.  ,  12.  ,  13.  , 144.  , 156.  , 169.  ],
       [  1.  ,  14.  ,  13.5 , 196.  , 189.  , 182.25],
       [  1.  ,  10.  ,  10.  , 100.  , 100.  , 100.  ],
       [  1.  ,  11.  ,  10.  , 121.  , 110.  , 100.  ],
       [  1.  ,  13.  ,  11.5 , 169.  , 149.5 , 132.25],
       [  1.  ,  20.  ,   5.  , 400.  , 100.  ,  25.  ],
       [  1.  ,  25.  ,   7.  , 625.  , 175.  ,  49.  ],
       [  1.  ,  10.  ,   3.  , 100.  ,  30.  ,   9.  ]])

In [46]:
X_train1,X_test1,y_train1,y_test1=train_test_split(X_poly_feature,y,train_size=0.75,random_state=10)

In [54]:
scale=MinMaxScaler()
X_train1_scale=scale.fit_transform(X_train1)
X_train1_scale

array([[0.        , 0.66666667, 0.        , 0.57142857, 0.        ,
        0.        ],
       [0.        , 0.        , 0.625     , 0.        , 0.        ,
        0.52083333],
       [0.        , 0.13333333, 1.        , 0.08380952, 0.74666667,
        1.        ],
       [0.        , 0.        , 0.875     , 0.        , 0.26666667,
        0.82638889],
       [0.        , 1.        , 0.25      , 1.        , 1.        ,
        0.16666667],
       [0.        , 0.06666667, 0.625     , 0.04      , 0.13333333,
        0.52083333]])

In [64]:
X_test1_scale=scale.transform(X_test1)
X_test1_scale

array([[ 0.        ,  0.        , -0.25      ,  0.        , -0.93333333,
        -0.11111111],
       [ 0.        ,  0.26666667,  1.0625    ,  0.18285714,  1.18666667,
         1.09201389],
       [ 0.        ,  0.2       ,  0.8125    ,  0.13142857,  0.66      ,
         0.74479167]])

In [74]:
model1=LogisticRegression()
model1.fit(X_train1_scale,y_train1)
model1.predict(X_train1_scale)
model1.predict(X_test1_scale)
print("Training score :",model1.score(X_train1_scale,y_train))
print("Testing score :",model1.score(X_test1_scale,y_test1))

Training score : 1.0
Testing score : 0.3333333333333333

In [89]:
for i in range(10):
    print(f"================{i}====================")
    poly=PolynomialFeatures(degree=i)
    X_poly_feature=poly.fit_transform(X)
    sc=MinMaxScaler()
    X_sc=sc.fit_transform(X)
    X_train,X_test,y_train,y_test=train_test_split(X_sc,y)
    model=LogisticRegression()
    model.fit(X_train,y_train)
    y_Train_pred=model.predict(X_train)
    y_test_pred=model.predict(X_test)
    print("Training score :",accuracy_score(X_train_pred,y_train))
    print("Testing score :",accuracy_score(X_test_pred,y_test))

================0====================
Training score : 0.3333333333333333
Testing score : 0.0
================1====================
Training score : 0.3333333333333333
Testing score : 0.3333333333333333
================2====================
Training score : 0.3333333333333333
Testing score : 0.0
================3====================
Training score : 0.6666666666666666
Testing score : 0.3333333333333333
================4====================
Training score : 0.5
Testing score : 0.3333333333333333
================5====================
Training score : 0.5
Testing score : 0.0
================6====================
Training score : 0.16666666666666666
Testing score : 0.6666666666666666
================7====================
Training score : 0.16666666666666666
Testing score : 0.0
================8====================
Training score : 0.3333333333333333
Testing score : 0.3333333333333333
================9====================
Training score : 0.0
Testing score : 0.6666666666666666

KNN

LinearRegression

LogisticRegression

Smort

PolynomialFeature

Logistic Regression OVR and Multinomial

Decision Tree

Ensemble Learning 

Computer Vision

NLP

Unsupervise Learning 
    
    Clustering 
    
    Association

# Logistic Regression OVR and Multinomial

# LogisticRegression OVR(One vs Rest)

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv("Iris.csv")

In [6]:
from sklearn.datasets import load_iris

In [7]:
data=load_iris()

In [11]:
print(data.DESCR)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

In [15]:
X=data['data']   # feature

In [18]:
y=data['target']   #target

In [19]:
from sklearn.linear_model import LogisticRegression

In [21]:
model=LogisticRegression(multi_class='ovr')

In [22]:
model.fit(X,y)

LogisticRegression(multi_class='ovr')

In [23]:
model.predict(X)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [24]:
sample=[[2.3,1.2,2.1,0.9]]

In [25]:
model.predict(sample)

array([1])

In [37]:
prob=model.predict_proba(sample)
prob

array([[4.34294040e-01, 5.65415239e-01, 2.90720439e-04]])

In [28]:
import numpy as np

In [30]:
np.sum(prob)

1.0

In [33]:
model2=LogisticRegression(multi_class='multinomial',max_iter=200)

In [34]:
model2.fit(X,y)

LogisticRegression(max_iter=200, multi_class='multinomial')

In [35]:
model2.predict(sample)

array([0])

In [36]:
model2.predict_proba(sample)

array([[8.78905070e-01, 1.21019028e-01, 7.59019913e-05]])

In [38]:
from sklearn.preprocessing import MinMaxScaler

In [40]:
sc=MinMaxScaler()

In [42]:
X_sc=sc.fit_transform(X)

In [43]:
from sklearn.model_selection import train_test_split

In [44]:
X_train,X_test,y_train,y_test=train_test_split(X_sc,y,random_state=42,train_size=0.7)

In [49]:
model3=LogisticRegression(multi_class='multinomial', max_iter=200)

In [50]:
model3.fit(X_train,y_train)

LogisticRegression(max_iter=200, multi_class='multinomial')

In [53]:
X_pred=model3.predict(X_train)

In [51]:
from sklearn.metrics import accuracy_score

In [60]:
print("Training accuracy :",accuracy_score(X_pred,y_train))

Training accuracy : 0.9238095238095239

In [65]:
X_test_pred=model3.predict(X_test)

In [66]:
y_test

array([1, 0, 2, 1, 1, 0, 1, 2, 1, 1, 2, 0, 0, 0, 0, 1, 2, 1, 1, 2, 0, 2,
       0, 2, 2, 2, 2, 2, 0, 0, 0, 0, 1, 0, 0, 2, 1, 0, 0, 0, 2, 1, 1, 0,
       0])

In [68]:
print("testing score :",accuracy_score(X_test_pred,y_test))

testing score : 0.9111111111111111

# Decision Tree